
<body>
    <div class="jumbotron">
        <center>
            <p class="lead">As part of a requirement to graduate with a Bachelor's Degree in Computer Science,</p><br>
            <p class="lead">this web app has been developed to show the graduation board to grant graduate status. </p><br>
            <p class="lead">User discretion is advised. Any attempts at copying this application will lead to some dire legal consequences. </p><br>
        </center>
    </div>
</body>
