
<body>
    <div class="jumbotron">
        <p class="lead">Applied Science University, Bahrain </p><br>
        <p class="lead">Student name: Ahmed Ali </p><br>
        <p class="lead">Undergrad student </p><br>
        <p class="lead">Email: 20186110336@student.asu.edu.bh </p><br>
    </div>
</body>
