@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="Site.css">

<body>
    <div class="jumbotron">
        <center>
            <h1>Car Service and Repair</h1>
        </center>
        <br>
        <p class="lead">This web app is going to help you find the best possible help for your car needs.</p><br>
        <p class="lead">Whatever you may need car of motorcycle related, feel free to come here</p><br>
        <p class="lead">Think of this as a hospital for cars and the technicians are the doctors</p><br>

    </div>
</body>

<div id="mySidenav" class="sidenav">
    <script src="~/Scripts/sidemenu.js"></script>
    <a href="https://localhost:44389/Client/Create">Client</a>
    <a href="https://localhost:44389/Vehicle/Create">Vehicles</a>
    <a href="https://localhost:44389/Manufacturer/Create">Manufacturer</a>
    <a href="https://localhost:44389/Appointment/Create">Book your appointment</a>
</div>